@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
ol,ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}
html{scroll-behavior: smooth;}
body{font-family: 'East Sea Dokdo', cursive; background-image: url("../img/background.png"); background-size: contain; scroll-behavior: smooth;}
.section{padding: 30px; overflow: hidden;}
.cfix::after{content: ""; display: block; clear: both;}


.cls-1{font-size:72px;fill:#fff;font-family:LeckerliOne-Regular, Leckerli One;letter-spacing:0.1em;}
.cls-2{letter-spacing:0.14em;}
.cls-3{letter-spacing:0.08em;}
.cls-4{letter-spacing:0.13em;}
.cls-5{fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:14px;stroke-dasharray:1919;animation:mask 4s}

@keyframes mask{
    0%{stroke-dashoffset: 1919;}
    100%{stroke-dashoffset: 0;}
}
/* #text-mask animation END */

#fp-nav{
    display: none;
}
.fp-is-overflow > .fp-overflow{
    overflow-y: auto;
}
.fp-scroll-mac .fp-overflow::-webkit-scrollbar{
    display: none;
}
/* fullpage custom */

.title{
    display: flex;
    position: absolute;
    top: 30px;
}
.title > p{
    font-size: 25px;
}
.title .line{
    width: 100px; 
    height: 1px; 
    background-color: #000; 
    margin: auto 10px;
}
/* .title END */

#menu{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 100;
}
#menu-inner{
    float: right;
    margin: 10px 10px 0;
}
#menu li{
    width: 150px;
    height: 50px;
    background-color: rgba(255, 196, 156, 0.3);
    float: left;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
}
#menu li:last-child{
    margin-right: 0;
}
#menu li:hover{
    background-color: rgb(255, 196, 156);
    cursor: pointer;
    transition: all 0.5s;
}
#menu li a{
    font-size: 28px;
    transition: all 0.5s;
}
#menu li:hover a{
    font-size: 30px;
    font-weight: bold;
    transition: all 0.5s;
}
/* #menu END */

#main{
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

#svg{
    margin-bottom: 200px;
}
#start{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.5s;
    animation-name: start;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
}
#start:hover{
    bottom: 120px;
    transition: all 0.5s;
}
#start > a img{
    width: 300px;
}

@keyframes start{
    from{
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    to{
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
/* #main END */

#profile .prof-box{
    display: flex;
    align-items: center;
    padding: 50px 0 0 150px;
}
#profile .prof-box .prof-pic img{
    width: 300px;
}
#profile .prof-box .prof-pic .best{
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 35px;
}
#profile .prof-box > div h3{
    font-size: 40px;
}
#profile .prof-box > div h3::before{
    content: "*";
    margin-right: 10px;
}
#profile .prof-box > div p{
    font-size: 30px;
}
#profile .prof-box .about{
    margin: 0 130px 0 180px;
}
#profile .prof-box .about-me{
    margin-bottom: 170px;
}
#profile .prof-box .certificate{
    margin-bottom: 133px;
}
/* #profile END */

.ex-nav{
    padding: 0 50px;
}
.ex-button{
    margin: 50px 0 30px;
}
.ex-button a{
    font-size: 33px;
    transition: all 0.5s;
}
.ex-button a:first-child{
    margin-right: 20px;
}
.ex-button a.on,
.ex-button a:hover{
    font-size: 35px;
    font-weight: bold;
    transition: all 0.5s;
}

.domestic,
.international{
    display: none;
}
.domestic.on,
.international.on{
    display: block;
}
.domestic > div > img,
.international > div > img{
    width: 500px;
}
.domestic > div > div > p.num,
.international > div > div > p.num{
    font-size: 23px;
    margin-bottom: 20px;
}

.lk,
.eng-academy{
    margin-bottom: 80px;
}
.lk > img,
.eng-academy > img{
    float: left;
    margin-right: 30px;
}
.lk-txt > h3,
.academy-txt > h3{
    font-size: 35px;
}
.lk-txt > p,
.academy-txt > p{
    font-size: 28px;
}

.invi > img,
.hotaru > img{
    float: right;
    margin-left: 30px;
}
.invi-txt,
.hotaru-txt{
    float: right;
}
.invi-txt > h3,
.hotaru-txt > h3{
    font-size: 35px;
}
.invi-txt > p,
.hotaru-txt > p{
    font-size: 28px;
}
/* #experience END */

.portfolio-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
    overflow: hidden;
}
.portfolio-box h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.portfolio-box img{
    width: 500px;
    border-radius: 50px;
}
.portfolio-box .box-left .port-txt{
    font-size: 30px;
    margin-top: 20px;
}
.portfolio-box .box-right .port-txt{
    font-size: 30px;
    margin: 20px 0 38px;
}
.portfolio-box b::before{
    content: "*";
    margin-right: 10px;
}
.portfolio-box .port-img{
    position: relative;
    cursor: pointer;
}
.portfolio-box .port-img .hover-box{
    width: 500px;
    height: 375px;
    border-radius: 50px;
    background-color: rgba(240, 217, 186, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 375px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
}
.portfolio-box .port-img .hover-box:hover{
    opacity: 1;
    transition: all 0.5s;
}
.portfolio-box .port-txt{
    padding-left: 30px;
}
/* #portfolio END */

.thanks > h2{
    text-align: center;
    font-size: 55px;
    margin: 30px 0 100px;
}
.contact-me{
    text-align: center;
}
.contact-me > h3{
    font-size: 40px;
    margin-bottom: 50px;
}
.contact-me > p{
    font-size: 30px;
}
.contact-me >img{
    margin-top: 40px;
}
/* #contact END */


/* 반응형 */
@media all and (max-width: 1822px){
    #profile .prof-box .about{
        margin: 0 100px 0 150px;
    }
}

@media all and (max-width: 1667px){
    #profile .prof-box .about{
        margin: 0 50px 0 100px;
    }

    .portfolio-box{
        padding: 0 150px;
    }
}

@media all and (max-width: 1500px){
    #profile .prof-box{
        display: block;
        padding: 50px 0;
    }
    #profile .prof-box .prof-pic{
        text-align: center;
        margin-bottom: 20px;
    }
    #profile .prof-box .prof-pic p{
        margin-top: 20px;
        font-size: 35px;
    }
    #profile .prof-box > div h3{
        font-size: 35px;
    }
    #profile .prof-box .about{
        float: left;
        margin: 0 0 0 100px;
    }
    #profile .prof-box .about-me{
        margin-bottom: 85px;
    }
    #profile .prof-box .ability{
        float: right;
        margin-right: 150px;
    }
    #profile .prof-box .certificate{
        margin-bottom: 48px;
    }

    .ex-nav{
        padding: 0;
    }

    .box-left,
    .box-right{
        width: 400px;
    }
    .portfolio-box img{
        width: 400px;
    }
    .portfolio-box .port-txt{
        font-size: 20px;
    }
    .portfolio-box .port-img .hover-box{
        width: 400px;
        height: 300px;
        line-height: 300px;
    }
}

@media all and (max-width: 1390px){
    .invi > img,
    .hotaru > img{
        float: left;
        margin-left: 0;
        margin-right: 30px;
    }
    .invi-txt,
    .hotaru-txt{
        float: none;
    }
}

@media all and (max-width: 1250px){
    #profile .prof-box .about{
        float: left;
        margin-left: 80px;
    }
    #profile .prof-box .ability{
        float: right;
        margin-right: 80px;
    }

    .portfolio-box{
        padding: 0 30px;
    }
}

@media all and (max-width: 1100px){
    .title{
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 10px;
    }
    .title p{
        writing-mode: vertical-lr;
    }
    .title .line{
        width: 1px; 
        height: 100px;
        margin: 10px 10px;
    }
    
    #profile .prof-box .prof-pic{
        margin-top: 20px;
    }
    #profile .prof-box .about{
        width: 480px;
        margin-left: 30px;
    }
    #profile .prof-box .ability{
        margin-right: 30px;
    }

    .ex-nav{
        padding: 0 30px;
    }

    .portfolio-box{
        padding: 0 30px;
    }
}

@media all and (max-width: 1000px){
    #main{
        width: 600px;
    }
    
    #start > a img{
        width: 200px;
    }

    .portfolio-box{
        flex-direction: column;
        margin-top: 50px;
    }
    .portfolio-box .box-left .port-txt,
    .portfolio-box .box-right .port-txt{
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 900px){
    #menu li{
        width: 100px;
    }
    #menu li a{
        font-size: 23px;
    }
    #menu li:hover a{
        font-size: 25px;
    }

    #profile .prof-box{
        margin-top: 20px;
    }
    #profile .prof-box .about{
        float: none;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    #profile .prof-box .about-me,
    #profile .prof-box .education,
    #profile .prof-box .certificate{
        margin-bottom: 50px;
    }
    #profile .prof-box .ability{
        float: none;
        margin: 0;
        text-align: center;
    }
    #profile .prof-box > div p{
        font-size: 30px;
    }

    .domestic > div > img,
    .international > div > img{
        width: 100%;
    }
    .lk > img,
    .invi > img,
    .eng-academy > img,
    .hotaru > img{
        float: none;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .thanks > h2{
        font-size: 45px;
        margin: 30px 50px;
    }
    .contact-me > h3{
        font-size: 37px;
    }
}

@media all and (max-width: 750px){
    #main{
        width: 400px;
    }
    
    #start > a img{
        width: 180px;
    }
}

@media all and (max-width: 650px){
    #menu li{
        width: 80px;
    }
    #menu li a{
        font-size: 18px;
    }
    #menu li:hover a{
        font-size: 20px;
    }
}