@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Noto+Sans+KR:wght@400;700&display=swap');
*{margin: 0;padding: 0; box-sizing: border-box;}
ol,ul{list-style: none;}
a{text-decoration: none; color: inherit;}
html{scroll-behavior: smooth;}
body{font-family: 'Noto Sans KR', sans-serif; background-color: #000; color: #fff;}
.en{font-family: 'Montserrat', sans-serif; letter-spacing: 2px;}

@keyframes fade{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header #header{
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 2.8%;
    z-index: 100;
}
#header .header-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header .header-flex h1{
    z-index: 100;
}
#header .header-flex h1 a img{
    width: 100%;
    height: 100%; 
    animation: fade 1.5s ease-in-out;
}
#header .header-flex .hamburger{
    width: 40px;
    height: 20px;
    cursor: pointer;
    animation: fade 1.5s ease-in-out;
    position: absolute;
    bottom: 11%;
    left: 19%;
    z-index: 100;
}

#header .header-flex .hamburger .hb-top{
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-bottom{
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin-top: 10px;
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-top.on{
    transform: rotate(315deg);
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-bottom.on{
    transform: rotate(225deg);
    transition: all 0.5s;
    margin-top: -5px;
}

#header .nav .menu{
    display: none;
}
#header .nav .menu.on{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #000;
    padding: 13% 0;
    z-index: 20;
}
#header .nav .menu li{
    transform: translateY(-100px);
    opacity: 0;
    animation: menuDown 1s;
    animation-fill-mode: forwards;
}

@keyframes menuDown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

#header .nav .menu li a{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s;
    line-height: 1.5;
}
#header .nav .menu li a:hover{
    color: rgb(245, 255, 0);
    transition: all 0.5s;
}
#header .nav .menu li a span{
    font-size: 16px;
}

.h-line{
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 15%;
    animation: lineDown 1s;
}

@keyframes lineDown{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
/* header END */

main #fullpage{
    width: 86%;
    height: 100%;
    margin-left: 15%;
}

#fullpage .s0{
    flex-direction: row;
    position: relative;
}
.swiper{
    height: 100%;
}
.s0 .swiper .swiper-arrow{
    top: 6%;
    color: #f5ff00;
    transform: scale(1);
    transition: all 0.5s;
    animation: arrowDown 1s;
}
.s0 .swiper .swiper-arrow:hover{
    transform: scale(1.2);
}
.s0 .swiper .swiper-button-prev{
    left: 88%;
}
.s0 .swiper .swiper-button-next{
    right: 5%;
}

.s0 .swiper .swiper-wrapper .swiper-slide{
    width: 100%;
    animation: fade 1s;
}
.s0 .swiper .swiper-wrapper .swiper-slide > div{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    color: transparent;
}
.s0 .swiper .swiper-wrapper .swiper-slide .bts1{
    background-image: url("../img/방탄소년단/bts-pc1.png"); 
}
.s0 .swiper .swiper-wrapper .swiper-slide .bts2{
    background-image: url("../img/방탄소년단/bts-pc2.png"); 
}
.s0 .swiper .swiper-wrapper .swiper-slide .lsf1{
    background-image: url("../img/르세라핌/르세라핌-pc1.png"); 
}
.s0 .swiper .swiper-wrapper .swiper-slide .lsf2{
    background-image: url("../img/르세라핌/르세라핌-pc2.png"); 
}
.s0 .swiper .swiper-wrapper .swiper-slide .njs1{
    background-image: url("../img/뉴진스/뉴진스-pc1.png"); 
}
.s0 .swiper .swiper-wrapper .swiper-slide .njs2{
    background-image: url("../img/뉴진스/뉴진스-pc2.png"); 
}

.s0 .slog{
    position: absolute;
    right: 3%;
    bottom: 3%;
    z-index: 5;
    animation: fontUp 1s;
}
.s0 .slog p{
    color: #f5ff00;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 3px;
    text-align: right;
}
#fp-nav ul li a span{
    background-color: #fff;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes arrowDown{
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        top: 6%;
        opacity: 1;
    }
}
@keyframes fontUp{
    0%{
        bottom: -3%;
        opacity: 0;
    }
    100%{
        bottom: 3%;
        opacity: 1;
    }  
}
/* .s0 END */

.section{
    width: 100%;
}
.section .logo{
    text-align: center;
    margin-bottom: 40px;
}
.section .swiper2{
    text-align: center;
}
.section .swiper2 .swiper-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section .swiper2 .swiper-wrapper .swiper-slide .img-box{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
}
.bts .swiper2 .swiper-wrapper .swiper-slide .img-box.rm{
    background-image: url("../img/방탄소년단/rm.png");
}
.bts .swiper2 .swiper-wrapper .swiper-slide .img-box.jin{
    background-image: url("../img/방탄소년단/jin.png");
}
.bts .swiper2 .swiper-wrapper .swiper-slide .img-box.suga{
    background-image: url("../img/방탄소년단/suga.png");
}
.bts .swiper2 .swiper-wrapper .swiper-slide .img-box.jhope{
    background-image: url("../img/방탄소년단/jhope.png");
}
.bts .swiper2 .swiper-wrapper .swiper-slide .img-box.jimin{
    background-image: url("../img/방탄소년단/jimin.png");
}
.bts .swiper2 .swiper-wrapper .swiper-slide .img-box.v{
    background-image: url("../img/방탄소년단/v.png");
}
.bts .swiper2 .swiper-wrapper .swiper-slide .img-box.jk{
    background-image: url("../img/방탄소년단/jk.png");
}
.lsf .swiper2 .swiper-wrapper .swiper-slide .img-box.chw{
    background-image: url("../img/르세라핌/chw.png");
}
.lsf .swiper2 .swiper-wrapper .swiper-slide .img-box.sakura{
    background-image: url("../img/르세라핌/sakura.png");
}
.lsf .swiper2 .swiper-wrapper .swiper-slide .img-box.yj{
    background-image: url("../img/르세라핌/yunjin.png");
}
.lsf .swiper2 .swiper-wrapper .swiper-slide .img-box.kazuha{
    background-image: url("../img/르세라핌/kazuha.png");
}
.lsf .swiper2 .swiper-wrapper .swiper-slide .img-box.ech{
    background-image: url("../img/르세라핌/ech.png");
}
.njs .swiper2 .swiper-wrapper .swiper-slide .img-box.minji{
    background-image: url("../img/뉴진스/민지main-01.png");
}
.njs .swiper2 .swiper-wrapper .swiper-slide .img-box.hanni{
    background-image: url("../img/뉴진스/하니main-01.png");
}
.njs .swiper2 .swiper-wrapper .swiper-slide .img-box.dani{
    background-image: url("../img/뉴진스/다니엘main-01.png");
}
.njs .swiper2 .swiper-wrapper .swiper-slide .img-box.haerin{
    background-image: url("../img/뉴진스/해린main-01.png");
}
.njs .swiper2 .swiper-wrapper .swiper-slide .img-box.hyein{
    background-image: url("../img/뉴진스/혜인main-01.png");
}

.swiper2 .swiper-wrapper .swiper-slide .inner{
    width:100%;
    height:100%;
    opacity:0.4;
    transition: opacity 1s;
    position:relative;
}
.swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .inner{
    opacity:1;
    box-shadow:0 0 30px rgba(255,255,255,0.8);
}
.swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .inner,
.swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .inner{
    opacity:0.7;
}

.swiper2 .swiper-wrapper .swiper-slide .inner::before,
.swiper2 .swiper-wrapper .swiper-slide .inner::after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:#fff;
    opacity: 0;
    z-index:1;
}

.swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .inner::before{
    animation: ani 1s ease 0s 1;
}
.swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .inner::after{
    animation: ani 1s ease 0.3s 1;
}

@keyframes ani {
    0%{
        opacity:0;
        transform:scale(1);
    }
    1%{
        opacity:0.5;
    }
    100%{
        opacity:0;
        transform:scale(1.4);
    }
}

.section .swiper2 .swiper-wrapper .swiper-slide p{
    color: #fff;
    font-size: 18px;
    margin-top: 5%;
}

.section .swiper2 .swiper-pagination-fraction{
    bottom: auto;
    top: -10%;
    left: auto;
    right: 5%;
    width: auto;
    color: #f5ff00;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.section .swiper2 .swiper-pagination-fraction span{
    opacity: 0.6;
}
.section .swiper2 .swiper-pagination-fraction span.swiper-pagination-current{
    font-size: 35px;
    opacity: 1;
}
.fp-watermark{
    display: none;
}

@media all and (max-width: 1500px){
    header #header{
        width: 100%;
        height: 130px;
        padding: 0;
        background-color: #000;
    }
    #header .header-flex{
        flex-direction: row;
        align-items: center;
        padding: 39.8px 5%;
    }
    #header .header-flex h1{
        width: 153px;
    }
    #header .header-flex .hamburger{
        position: static;
    }
    .h-line{
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        position: fixed;
        top: 130px;
        left: 0;
        animation: lineLeft 1s;
    }
    @keyframes lineLeft{
        0%{
            width: 0;
        }
        100%{
            width: 100%;
        }
    }
    #header .nav .menu.on{
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        background-color: #000;
        margin: 130px 0 0 0;
        padding: 50px 0 0 0;
    }
    main #fullpage{
        width: 100%;
        margin-left: 0;
    }
    .s0 .slog p{
        font-size: 50px;
    }
    .swiper .swiper-wrapper .swiper-slide > div{
        background-size: auto;
        width: 100%;
        margin-top: 130px;
    }
    .s0 .swiper .swiper-arrow{
        top: 50%;
        color: #f5ff00;
        animation: arrowDown 1s;
    }
    @keyframes arrowDown{
        0%{
            bottom: 0;
            opacity: 0;
        }
        100%{
            bottom: 6%;
            opacity: 1;
        }
    }
    
    .s0 .swiper .swiper-button-prev{
        left: 4%;
    }
    .s0 .swiper .swiper-button-next{
        right: 4%;
    }
    
    .section .logo{
        display: none;
    }
    .section .swiper2{
        margin: 11% 10% 0;
    }
    .section .swiper2 .swiper-slide{
        margin-top: 1%;
    }
    .section .swiper2 .swiper-pagination-fraction{
        transform: scale(0.8);
        right: -8%;
        top: -6%;
    }
}

@media all and (max-width: 1190px){
    .s0 .slog p{
        font-size: 40px;
    }
    .s0 .swiper .swiper-button-prev{
        left: 6%;
    }
    .s0 .swiper .swiper-button-next{
        right: 6%;
    }
}

@media all and (max-width: 980px){
    #header .nav .menu li a{
        font-size: 40px;
    }
    #header .nav .menu li a span{
        font-size: 14px;
    }
    #header .nav .menu.on{
        padding-top: 130px;
    }
    .section .swiper2 .swiper-wrapper .swiper-slide .img-box{
        width: 380px;
        margin: 0 auto;
    }
    .section .swiper2 .swiper-pagination-fraction{
        top: 92%;
    }
    .swiper2 .swiper-wrapper .swiper-slide .inner{
        width:380px;
        height:100%;
        opacity:0.4;
        transition: opacity 1s;
        position:relative;
        margin: 0 auto;
    }
}

@media all and (max-width: 500px){
    .s0 .swiper .swiper-button-prev{
        left: 7%;
    }
    .s0 .swiper .swiper-button-next{
        right: 7%;
    }
}