@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Noto+Sans+KR:wght@400;700&display=swap');
*{margin: 0;padding: 0; box-sizing: border-box;}
ol,ul{list-style: none;}
a{text-decoration: none; color: inherit;}
html{scroll-behavior: smooth;}
body{font-family: 'Noto Sans KR', sans-serif; background-color: #000; color: #fff;}
.en{font-family: 'Montserrat', sans-serif; letter-spacing: 2px;}


@keyframes fade{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header #header{
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 2.8%;
    z-index: 100;
}
#header .header-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header .header-flex h1{
    z-index: 100;
}
#header .header-flex h1 a img{
    width: 100%;
    height: 100%; 
    animation: fade 1.5s ease-in-out;
}
#header .header-flex .hamburger{
    width: 40px;
    height: 20px;
    cursor: pointer;
    animation: fade 1.5s ease-in-out;
    position: absolute;
    bottom: 11%;
    left: 19%;
    z-index: 100;
}

#header .header-flex .hamburger .hb-top{
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-bottom{
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin-top: 10px;
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-top.on{
    transform: rotate(315deg);
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-bottom.on{
    transform: rotate(225deg);
    transition: all 0.5s;
    margin-top: -5px;
}

#header .nav .menu{
    display: none;
}
#header .nav .menu.on{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #000;
    padding: 13% 0;
    z-index: 20;
}
#header .nav .menu li{
    transform: translateY(-100px);
    opacity: 0;
    animation: menuDown 1s;
    animation-fill-mode: forwards;
}

@keyframes menuDown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

#header .nav .menu li a{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s;
    line-height: 1.5;
}
#header .nav .menu li a:hover{
    color: #f5ff00;
    transition: all 0.5s;
}
#header .nav .menu li a span{
    font-size: 16px;
}

.h-line{
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 15%;
    animation: lineDown 1s;
    z-index: 1;
}

@keyframes lineDown{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
/* header END */

main{
    width: 100%;
    height: 100%;
}

#fullpage .index{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#fullpage .index video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
    filter: brightness(0.5);
}
#fullpage .index .njs-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}
#fullpage .index .njs-logo img{
    width: 100%;
    z-index: 500;
}
#fp-nav ul li a span{
    background-color: #fff;
}
/* .index END */

.s1{
    width: 85%;
    padding: 0 100px;
    margin-left: 15%;
    overflow: hidden;
}
.profile{
    display: flex;
}
.profile .member{
    line-height: 1.5;
    margin-bottom: 30%;
    align-items: start;
}
.profile .member > li{
    text-align: right;
    transition: all 0.5s;
}
.profile .member > li:hover{
    color: #f5ff00;
    font-weight: bold;
    transition: all 0.5s;
}
.profile .member #njs.on,
.profile .member #minji.on,
.profile .member #hanni.on,
.profile .member #dani.on,
.profile .member #haerin.on,
.profile .member #hyein.on{
    color: #f5ff00;
    font-weight: bold;
}

.profile .prof{
    display: flex;
}
.profile .prof img{
    width: 50%;
    margin: 0 40px 0 30px;
}
.profile .prof-minji,
.profile .prof-hanni,
.profile .prof-dani,
.profile .prof-haerin,
.profile .prof-hyein{
    display: none;
}

.profile .prof-txt{
    margin-top: 20%;
}
.profile .prof-minji .prof-txt,
.profile .prof-hanni .prof-txt,
.profile .prof-dani .prof-txt,
.profile .prof-haerin .prof-txt,
.profile .prof-hyein .prof-txt{
    margin-top: 500px;
}
.profile .prof-txt h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.profile .prof-txt p{
    margin-bottom: 10px;
}
.profile .prof-txt p:last-child{
    margin-bottom: 0;
}

.profile .page-prof{
    position: absolute;
    top: 180px;
    right: -80px;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}
.profile .page-prof > div{
    width: 150px;
    height: 1px;
    background-color: #fff;
    color: #fff;
    margin: 0 10px;
    font-size: 15px;
}

.profile .njs-icon{
    position: absolute;
    top: 5%;
    right: -8%;
}
.profile .njs-icon img{
    width: 40%;
}

.profile .sns{
    position: absolute;
    bottom: 30px;
    right: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.profile .sns li{
    margin-left: 30px;
}
.profile .sns li img{
    width: 25px;
}
/* .s1 END */

.s2{
    width: 85%;
    padding: 0 100px;
    margin-left: 15%;
    overflow: hidden;
}
.swiper .swiper-slide{
    overflow: hidden;
    height: 300px;
    margin-top: 30px;
    transition: all 0.5s;
    filter: grayscale(1);
    cursor: pointer;
}
.swiper .swiper-slide:hover{
    filter: grayscale(0) brightness(1.2);
    transition: all 0.5s;
}

.arrow{
    position: relative;
}
.long-line{
    width: 50px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}
.short-line{
    width: 20px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    right: 6px;
}

.ditto{
    margin-top: 50px;
}

.s2 .page-gal{
    position: absolute;
    top: 180px;
    right: -80px;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}
.s2 .page-gal > div{
    width: 150px;
    height: 1px;
    background-color: #fff;
    color: #fff;
    margin: 0 10px;
    font-size: 15px;
}

.modal-wrap{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1000;
}
.modal1{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
}
.arrows{
    cursor: pointer;
}
.prev{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;
}
.next{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;
}
.modal2{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
}
.close{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.5s;
    z-index: 1500;
}
.close:hover{
    transform: rotate(180deg);
    transition: all 0.5s;
}
/* .s2 END */

.s3{
    width: 85%;
    padding: 0 100px;
    margin-left: 15%;
    overflow: hidden;
}
.s3 .page-disco{
    position: absolute;
    top: 180px;
    right: -80px;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}
.s3 .page-disco > div{
    width: 100px;
    height: 1px;
    background-color: #fff;
    color: #fff;
    margin: 0 10px;
    font-size: 15px;
}

.back-btn{
    position: absolute;
    top: 80px;
    left: 80px;
    cursor: pointer;
    transition: all 0.5s;
    display: none;
}
.back-btn:hover{
    left: 75px;
    transition: all 0.5s;
}

.album{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album img{
    width: 400px;
    height: 400px;
    cursor: pointer;
}
.album h3{
    margin-bottom: 20px;
    font-size: 22px;
    cursor: pointer;
}
.album p{
    margin-top: 10px;
    font-size: 15px;
}

.album .album-ex{
    margin-left: 50px;
    display: none;
}
.album .album-ex .track{
    margin-top: 50px;
}
.album .album-ex h4{
    margin-top: 30px;
}
/* .s3 END */


/* 반응형 */

@media all and (max-width:1730px){
    .album img{
        width: 350px;
        height: 350px;
    }
    .album h3{
        font-size: 20px;
    }
}

@media all and (max-width:1560px){
    .prof-njs .prof-txt{
        font-size: 14px;
    }
}

@media all and (max-width:1500px){
    header #header{
        width: 100%;
        height: 130px;
        padding: 0;
        background-color: #000;
    }
    #header .header-flex{
        flex-direction: row;
        align-items: center;
        padding: 39.8px 5%;
    }
    #header .header-flex h1{
        width: 153px;
    }
    #header .header-flex .hamburger{
        position: static;
    }
    .h-line{
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        position: fixed;
        top: 130px;
        left: 0;
        animation: lineLeft 1s;
        z-index: 200;
    }
    @keyframes lineLeft{
        0%{
            width: 0;
        }
        100%{
            width: 100%;
        }
    }
    #header .nav .menu.on{
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        margin: 130px 0 0 0;
        padding: 10% 0;
        z-index: 1000;
    }

    #fullpage .index video{
        top: 10%;
        width: 100%;
        height: 100%;
    }
    #fullpage .index .njs-logo{
        left: 50%;
    }

    .s1, .s2, .s3{
        width: 100%;
        padding: 130px 100px 0 100px;
        margin-left: 0;
    }
    
    .profile .prof-txt{
        margin-top: 15%;
    }
    .profile .njs-icon{
        position: absolute;
        top: 15%;
        right: -10%;
    }

    .modal1{
        transform: translate(-65%, -37%);
    }
    .modal2{
        transform: translate(-65%, -42%);
    }
    .close{
        bottom: 5%;
    }

    .profile .page-prof,
    .s2 .page-gal,
    .s3 .page-disco{
        top: 32%;
        right: -6%;
    }

    .album-ex{
        margin-bottom: 100px;
    }
    .back-btn{
        top: 20%;
        left: 5%;
    }
    .back-btn:hover{
        left: 4.5%;
    }
}

@media all and (max-width:1360px){
    .album img{
        width: 320px;
        height: 320px;
    }
}

@media all and (max-width:1280px){
    #fullpage .index video{
        top: 7%;
    }

    .profile .prof-minji .prof-txt,
    .profile .prof-hanni .prof-txt,
    .profile .prof-dani .prof-txt,
    .profile .prof-haerin .prof-txt,
    .profile .prof-hyein .prof-txt{
        margin-top: 40%;
    }

    .modal1{
        transform: translate(-63%, -37%);
    }
}

@media all and (max-width:1200px){
    .album{
        display: block;
        overflow: hidden;
    }
    .album h3{
        font-size: 22px;
    }
    .album img{
        width: 450px;
        height: 450px;
    }
    .album p{
        font-size: 15px;
    }
    .al-newjeans{
        float: left;
        margin-top: 15%;
        margin-right: 25px;
    }
    .al-omg{
        float: left;
        margin-top: 15%;
    }
    .al-zero{
        float: left;
        margin: 10% 0;
    }
    .album .album-ex{
        margin-left: 0;
        margin-top: 30px;
        float: left;
    }
    .album .album-ex .track{
        margin-top: 50px;
    }
}

@media all and (max-width:1133px){
    .album img{
        width: 500px;
        height: 500px;
    }
    .al-omg{
        margin-top: 10%;
        margin-right: 25px;
    }
}

@media all and (max-width: 1185px){
    .profile .prof img{
        width: 55%;
    }
    .prof-njs .prof-txt{
        margin-top: 50%;
    }
    .prof-njs .prof-txt > p{
        display: none;
    }
}

@media all and (max-width: 1030px){
    #header .nav .menu li a{
        font-size: 37px;
    }
    #header .nav .menu.on{
        padding: 20% 0;
    }

    .profile .prof-minji .prof-txt,
    .profile .prof-hanni .prof-txt,
    .profile .prof-dani .prof-txt,
    .profile .prof-haerin .prof-txt,
    .profile .prof-hyein .prof-txt{
        margin-top: 50%;
    }

    .album img{
        width: 450px;
        height: 450px;
    }
    .al-omg{
        margin-top: 10%;
    }
}

@media all and (max-width: 980px){
    .profile .prof img{
        width: 80%;
    }
    .profile .prof-njs .prof-txt,
    .profile .prof-minji .prof-txt,
    .profile .prof-hanni .prof-txt,
    .profile .prof-dani .prof-txt,
    .profile .prof-haerin .prof-txt,
    .profile .prof-hyein .prof-txt,
    .profile .njs-icon{
        display: none;
    }
    .profile .sns{
        position: absolute;
        bottom: 5%;
        right: 5%;
        flex-direction: column;
    }
    .profile .sns li{
        font-size: 0;
        margin-top: 20px;
    }

    .profile .page-prof,
    .s2 .page-gal{
        top: 32%;
        right: -8%;
    }
}

@media all and (max-width: 900px){
    #header .nav .menu.on{
        padding: 30% 0;
    }

    #fullpage .index .njs-logo{
        top: 18%;
        transform: translate(-50%, 0);
    }

    .s1{
        padding: 0 50px;
    }
    .profile{
        margin-top: 15%;
    }
    .profile .prof img{
        width: 70%;
    }

    .profile .page-prof{
        transform: rotate(0);
        top: 16%;
        right: 2%;
    }
}

@media all and (max-width: 860px){
    .profile .prof img{
        width: 75%;
    }

    .modal2{
        transform: translate(-66%, -42%);
    }
}

@media all and (max-width: 800px){
    .modal1{
        width: 100vw;
    }
}

@media all and (max-width: 750px){
    .profile{
        display: block;
    }
    .profile .member{
        margin: 0 auto 20px;
        overflow: hidden;
    }
    .profile .member > li{
        text-align: center;
        transition: all 0.5s;
        float: left;
        margin-right: 10px;
    }
    .profile .prof img{
        width: 80%;
        margin: 0;
    }

    .modal1{
        transform: translate(-64%, -37%);
    }

    .profile .page-prof,
    .s2 .page-gal,
    .s3 .page-disco{
        transform: rotate(90deg);
        top: 32%;
        right: -11%;
    }
}

@media all and (max-width: 700px){
    .modal1{
        transform: translate(-65%, -37%);
    }
}

@media all and (max-width: 650px){
    .profile .prof img{
        width: 90%;
    }
    .profile .page-prof,
    .s2 .page-gal,
    .s3 .page-disco{
        display: none;
    }

    .profile .sns{
        bottom: 10%;
    }

    .s3{
        padding: 130px 50px 0;
    }
    .back-btn{
        top: 18%;
        left: 2%;
    }
    .back-btn:hover{
        left: 1.5%;
    }
}

@media all and (max-width: 630px){
    .profile .member > li{
        font-size: 14px;
    }

    .s2{
        padding: 130px 50px 0;
    }

    .modal1{
        transform: translate(-60%, -37%);
    }
    .modal2{
        transform: translate(-60%, -42%);
    }
}

@media all and (max-width: 600px){
    .modal2{
        width: 100vw;
    }
}

@media all and (max-width: 500px){
    #header .nav .menu.on{
        padding: 50% 0;
    }
}