@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Noto+Sans+KR:wght@400;700&display=swap');
*{margin: 0;padding: 0; box-sizing: border-box;}
ol,ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}
html{scroll-behavior: smooth;}
body{font-family: 'Noto Sans KR', sans-serif;}
.en{font-family: 'Montserrat', sans-serif;}

#arrows{
    background-color: transparent;
    position: fixed;
    bottom: 5%;
    right: 0;
    cursor: pointer;
    z-index: 30;
    animation: arrows 1s;
}

@keyframes arrows{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#arrows a{
    display: block;
    background-color: rgba(0,0,0,0.5);
    padding: 13px 10px;
    font-size: 0;
}
#arrows a i{
    font-size: 25px;
    color: #fff;
}
#arrows a:hover i{
    color: #f5ff00;
}
/* fixed up & down arrows */

header #header{
    width: 15%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 2.8%;
    z-index: 100;
}
#header .header-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header .header-flex h1 a img{
    width: 100%;
    height: 100%; 
    animation: fade 1.5s ease-in-out;
}
#header .header-flex .hamburger{
    width: 40px;
    height: 20px;
    cursor: pointer;
    animation: fade 1.5s ease-in-out;
    position: absolute;
    bottom: 11%;
    left: 19%;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#header .header-flex .hamburger .hb-top{
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-bottom{
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin-top: 10px;
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-top.on{
    transform: rotate(315deg);
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-bottom.on{
    transform: rotate(225deg);
    transition: all 0.5s;
    margin-top: -5px;
}

#header .nav .menu{
    display: none;
}
#header .nav .menu.on{
    width: 85%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #000;
    margin-left: 15%;
    padding: 13% 15% 13% 0;
}
#header .nav .menu li{
    transform: translateY(-100px);
    opacity: 0;
    animation: menuDown 1s;
    animation-fill-mode: forwards;
}

@keyframes menuDown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

#header .nav .menu li a{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s;
    line-height: 1.5;
}
#header .nav .menu li a:hover{
    color: rgb(245, 255, 0);
    transition: all 0.5s;
}
#header .nav .menu li a span{
    font-size: 16px;
}
/* header END */

main{
    width: 85%;
    height: 100%;
    margin: 0 0 200px 15%;
}

.con1{
    margin: 200px 100px;
}
.con1 p{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 2px;
    animation: font 1.5s;
}

@keyframes font{
    0%{
        opacity: 0;
        letter-spacing: -50px;
    }
    30%{
        opacity: 0;
        letter-spacing: -50px;
    }
    100%{
        opacity: 1;
        letter-spacing: 2px;
    }
}

.underline{
    width: 100%;
    height: 2px;
    background-color: #000;
}

.con2{
    margin: 200px 100px;
    display: flex;
    justify-content: space-between;
}
.con2 > p{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 700;
}
.con2 .con2-right img{
    width: 930px;
    margin-bottom: 20px;   
}
.con2 .con2-right > p{
    letter-spacing: 1px;
    line-height: 1.5;
}
/* .con2 END */

.con3{
    margin: 200px 100px;
}
.con3 > p{
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 100px;
    font-weight: 700;
}
.con3 .swiper{
    width: 90%;
    text-align: center;
}
.con3 .swiper .swiper-slide img{
    width: 100%;
}
.con3 .swiper .swiper-slide .leader-info{
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 100px;
}
.con3 .swiper .swiper-slide .leader-info h4{
    font-size: 25px;
}
.con3 .swiper .swiper-slide .leader-info h4 > span{
    display: block;
    font-weight: normal;
    font-size: 15px;
}
.con3 .swiper .swiper-slide .leader-info ul li{
    font-size: 20px;
}
.con3 .swiper .swiper-scrollbar{
    width: 100%;
    bottom: 370px;
    height: 2px;
}

.swiper-button-prev{
    left: 25px;
}
.swiper-button-next{
    right: 25px;
}
.swiper-button-prev, .swiper-button-next{
    top: 25%;
    color: #fff;
}

.swiper-scrollbar-drag{
    background: rgba(0, 0, 0, 0.8);
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    left: 0;
}
/* .con3 END */

.con4{
    margin: 200px 100px;
}
.con4 > p{
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 100px;
    font-weight: 700;
}
.con4 .con4-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.con4 .con4-top .con4-top-left{
    margin-right: 100px;
}
.con4 .con4-top .con4-top-left h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.con4 .con4-line{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 50px 0;
}
.con4 .con4-bottom .con4-flex-con ul li .con4-line2{
    width: 100%;
    height: 1px;
    background-color: #bfbfbf;
    margin: 50px auto;
}

.con4 .con4-bottom .con4-flex{
    display: flex;
    justify-content: space-between;
}
.con4 .con4-bottom .con4-flex .con4-flex-hd{
    width: 500px;
    margin-right: 50px;
}
.con4 .con4-bottom .con4-flex .con4-flex-hd h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.con4 .con4-bottom .con4-flex .con4-flex-hd p{
    font-size: 25px;
}
.con4 .con4-bottom .con4-flex .con4-flex-con{
    width: 1000px;
}
.con4 .con4-bottom .con4-flex .con4-flex-con ul li{
    margin-bottom: 30px;
}
.con4 .con4-bottom .con4-flex .con4-flex-con ul li h4{
    font-size: 20px;
    margin-bottom: 20px;
}
/* con4 END */

.con5-wrap{
    margin: 200px 100px -100px 100px;
}
.con5{
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    margin-bottom: 100px;
}
.con5 > p{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
.con5 .con5-right > p{
    letter-spacing: 1px;
}

.ci-line1{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
}

.ci-box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.ci-box1 p{
    text-transform: uppercase;
}
.ci-box1 .box1-left{
    width: 50%;
}
.ci-box1 .ci-line2{
    width: 1px;
    height: 610.78px;
    background-color: #000;
}

.ci-box1 .box1-right{
    width: 50%;
    margin-left: 20px;
}
.ci-box1 .box1-left img{
    width: 360px;
    margin: 249.89px 19%;
}
.ci-box1 .box1-right .symbol img{
    width: 126px;
    margin: 100px 235px;
}
.ci-box1 .box1-right .ci-line3{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
}

.ci-box1 .box1-right .wordmark img{
    width: 198px;
    margin: 100px 200.5px;
}

.ci-box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.ci-box2 > div > p{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.ci-box2 .box2-left .color-box1{
    display: flex;
}
.ci-box2 .box2-left .color-box1 .en{
    width: 180px;
    height: 120px;
    font-size: 13px;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 15px;
}
.ci-box2 .box2-left .color-box1 .en:first-child{
    margin-left: 0;
}
.ci-box2 .box2-left .color-box1 .black{
    background-color: #000; 
    color: #fff;
}
.ci-box2 .box2-left .color-box1 .white{
    background-color: #fff; 
    color: #111;
    border: 0.2px solid #bfbfbf;
}
.ci-box2 .box2-left .color-box1 .gray{
    background-color: #bfbfbf; 
    color: #111;
}
.ci-box2 .box2-right{
    margin-left: 15px;
}
.ci-box2 .box2-right .color-box2{
    width: 600px;
    height: 120px;
    background-color: #f5ff00;
    color: #111;
    font-size: 13px;
    padding: 10px;
    text-transform: uppercase;
}
.ci-last-line{
    margin-bottom: 200px;
}
/* .con5-wrap END */

#footer{
    width: 85%;
    margin-bottom: 100px;
    padding-left: 20%;
}
#footer b{
    font-size: 15px;
}
#footer p:last-child{
    font-size: 13px;
    margin-top: 10px;
}


/* 반응형 */

@media all and (max-width:1660px){
    .ci-box2 .box2-left .color-box1 .en{
        width: 150px;
    }
    .ci-box2 .box2-right .color-box2{
        width: 500px;
    }
}

@media all and (max-width:1500px){
    header #header{
        width: 100%;
        height: 130px;
        padding: 0;
        background-color: #000;
    }
    #header .header-flex{
        flex-direction: row;
        align-items: center;
        padding: 39.8px 5%;
    }
    #header .header-flex h1{
        width: 153px;
    }
    #header .header-flex .hamburger{
        position: static;
    }
    .h-line{
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        position: fixed;
        top: 130px;
        left: 0;
        animation: lineLeft 1s;
    }
    @keyframes lineLeft{
        0%{
            width: 0;
        }
        100%{
            width: 100%;
        }
    }
    #header .nav .menu.on{
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        background-color: #000;
        margin: 130px 0 0 0;
        padding: 50px 0 0 0;
    }

    main{
        width: 100%;
        margin: 0 0 100px 0;
    }
    
    .con1{
        margin: 300px 0 100px 100px;
    }
    .con1 p{
        font-size: 100px;
        font-weight: 700;
        letter-spacing: 2px;
        animation: font 1.5s;
    }
    
    @keyframes font{
        0%{
            opacity: 0;
            letter-spacing: -50px;
        }
        30%{
            opacity: 0;
            letter-spacing: -50px;
        }
        100%{
            opacity: 1;
            letter-spacing: 2px;
        }
    }

    .con2{
        display: block;
        overflow: hidden;
    }
    .con2 .con2-right{
        float: right;
    }

    #footer{
        width: 100%;
        padding-left: 10%;
    }
}

@media all and (max-width:1330px){
    .con3 .swiper .swiper-slide .leader-info h4{
        font-size: 23px;
    }
    .con3 .swiper .swiper-slide .leader-info h4 > span{
        font-size: 14px;
    }
    .con3 .swiper .swiper-slide .leader-info ul li{
        font-size: 18px;
    }
    .con3 .swiper .swiper-scrollbar{
        bottom: 330px;
    }

    .con4 .con4-top .con4-top-left{
        margin-right: 50px;
    }
}

@media all and (max-width:1250px){
    body{
        overflow-x: hidden;
    }

    .con2, .con3, .con4{
        margin: 100px 0;
    }

    .con2 > p,
    .con3 > p,
    .con4 > p{
        margin: 0 0 100px 100px;
    }
    .con2 .con2-right img{
        width: 100%;
    }
    .con2 .con2-right > p{
        text-align: center;
        margin: 0 50px;
    }

    .con3 .swiper{
        width: 100%;
    }
    .con3 .swiper .swiper-scrollbar{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 42%;
    }

    .con4 .con4-top{
        display: block;
    }
    .con4 .con4-top .con4-top-left{
        margin-right: 0;
    }
    .con4 .con4-top .con4-top-left h2{
        margin: 0 50px 50px 50px;
    }
    .con4 .con4-top .con4-top-left > p{
        margin: 0 50px 50px 50px;
    }
    .con4 .con4-top .con4-top-right img{
        width: 100%;
    }
    .con4 .con4-bottom .con4-flex .con4-flex-hd{
        margin-left: 50px;
    }
    .con4 .con4-bottom .con4-flex .con4-flex-hd p{
        font-size: 20px;
    }
    .con4 .con4-bottom .con4-flex .con4-flex-con{
        margin-right: 50px;
    }

    .con5{
        display: block;
    }
    .con5 > p{
        margin-bottom: 50px;
    }

    .ci-box1{
        display: block;
        margin: 20px 0;
    }
    .ci-box1 .box1-left{
        width: 100%;
    }
    .ci-box1 .box1-left img{
        display: block;
        width: 250px;
        margin: 100px auto;
    }
    .ci-box1 .ci-line2{
        width: 100%;
        height: 1px;
    }
    .ci-box1 .box1-right{
        width: 100%;
        margin: 20px 0;
    }
    .ci-box1 .box1-right .symbol img{
        display: block;
        margin: 100px auto;
    }
    .ci-box1 .box1-right .wordmark img{
        display: block;
        margin: 100px auto;
    }
    .ci-box2{
        display: block;
    }
    .ci-box2 .box2-left .color-box1{
        justify-content: center;
    }
    .ci-box2 .box2-left .color-box1 .en{
        width: 100%;
    }
    .ci-box2 .box2-right{
        margin: 20px 0;
    }
    .ci-box2 .box2-right .color-box2{
        width: 100%;
        margin: 0 auto;
    }
}

@media all and (max-width:1200px){
    .con3 .swiper .swiper-slide .leader-info h4{
        font-size: 20px;
    }
    .con3 .swiper .swiper-slide .leader-info ul li{
        font-size: 16px;
    }
}

@media all and (max-width: 1030px){
    #header .nav .menu li a{
        font-size: 37px;
    }
    #header .nav .menu.on{
        padding: 20% 0;
    }
}

@media all and (max-width:1000px){
    .con1 p{
        font-size: 80px;
    }

    .con3 .swiper .swiper-scrollbar{
        bottom: 45%;
    }

    .con4{
        margin-bottom: 100px;
    }
    .con4 .con4-top .con4-top-left h2{
        font-size: 25px;
    }
    .con4 .con4-bottom .con4-flex .con4-flex-hd p{
        display: none;
    }

    .con5-wrap{
        margin: 100px 50px -100px 50px;
    }
}

@media all and (max-width:900px){
    #header .nav .menu.on{
        padding: 30% 0;
    }
}

@media all and (max-width:865px){
    .con3 .swiper .swiper-slide .leader-info{
        display: block;
    }
    .con3 .swiper .swiper-slide .leader-info ul{
        margin-top: 50px;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 20%;
    }
    .con3 .swiper .swiper-scrollbar{
        bottom: 55%;
    }
}

@media all and (max-width:750px){
    .con1{
        margin: 350px 0 100px 50px;
    }
    .con1 p{
        font-size: 45px;
    }

    .con2 > p, 
    .con3 > p,
    .con4 > p{
        margin: 0 0 50px 50px;
        font-size: 30px;
    }


    .con3 .swiper .swiper-slide .leader-info{
        padding: 0 50px;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 15%;
        transform: scale(0.8);
    }
    .con3 .swiper .swiper-scrollbar{
        bottom: 60%;
    }

    .con4 .con4-bottom .con4-flex{
        display: block;
        margin: 0 50px;
    }
    .con4 .con4-bottom .con4-flex .con4-flex-hd{
        width: 100%;
        margin-left: 0;
    }
    .con4 .con4-bottom .con4-flex .con4-flex-con{
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width:665px){
    .con3 .swiper .swiper-scrollbar{
        bottom: 65%;
    }
}

@media all and (max-width:600px){
    .swiper-button-prev, .swiper-button-next{
        top: 12%;
        transform: scale(0.5);
    }
    .con3 .swiper .swiper-scrollbar{
        bottom: 68%;
    }
}

@media all and (max-width: 500px){
    #header .nav .menu.on{
        padding: 50% 0;
    }
}