@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Noto+Sans+KR:wght@400;700&display=swap');
*{margin: 0;padding: 0; box-sizing: border-box;}
ol,ul{list-style: none;}
a{text-decoration: none; color: inherit;}
html{scroll-behavior: smooth;}
body{font-family: 'Noto Sans KR', sans-serif; background-color: #000; color: #fff;}
.en{font-family: 'Montserrat', sans-serif; letter-spacing: 2px;}

@keyframes fade{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header #header{
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 2.8%;
    z-index: 100;
}
#header .header-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header .header-flex h1{
    z-index: 100;
}
#header .header-flex h1 a img{
    width: 100%;
    height: 100%; 
    animation: fade 1.5s ease-in-out;
}
#header .header-flex .hamburger{
    width: 40px;
    height: 20px;
    cursor: pointer;
    animation: fade 1.5s ease-in-out;
    position: absolute;
    bottom: 11%;
    left: 19%;
    z-index: 100;
}

#header .header-flex .hamburger .hb-top{
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-bottom{
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin-top: 10px;
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-top.on{
    transform: rotate(315deg);
    transition: all 0.5s;
}
#header .header-flex .hamburger .hb-bottom.on{
    transform: rotate(225deg);
    transition: all 0.5s;
    margin-top: -5px;
}

#header .nav .menu{
    display: none;
}
#header .nav .menu.on{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #000;
    padding: 13% 0;
    z-index: 20;
}
#header .nav .menu li{
    transform: translateY(-100px);
    opacity: 0;
    animation: menuDown 1s;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes menuDown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

#header .nav .menu li a{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s;
    line-height: 1.5;
}
#header .nav .menu li a:hover{
    color: #f5ff00;
    transition: all 0.5s;
}
#header .nav .menu li a span{
    font-size: 16px;
}

.h-line{
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 15%;
    animation: lineDown 1s;
    z-index: 1;
}

@keyframes lineDown{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
/* header END */

main{
    width: 100%;
    height: 100%;
}

#fullpage .index{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#fullpage .index video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
    filter: brightness(0.5);
}
#fullpage .index .lsf-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
}
#fullpage .index .lsf-logo img{
    width: 50%;
    z-index: 500;
}
#fp-nav ul li a span{
    background-color: #fff;
}
/* .index END */

.s1{
    width: 85%;
    padding: 0 100px;
    margin-left: 15%;
    overflow: hidden;
}
.s1 #logo{
    width: 50%;
    margin: 0 auto 100px;
    display: block;
}
.s1 .debut{
    line-height: 1.5;
    text-align: center;
}
.s1 .debut h2{
    font-size: 35px;
    margin-bottom: 80px;
}
.s1 .debut .date{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

.s1 .sns{
    margin-top: 60px;
}
.s1 .sns > p{
    font-weight: bold;
    margin-bottom: 20px;
}
.s1 .sns ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1 .sns ul li{
    margin-right: 15px;
}
.s1 .sns ul li:last-child{
    margin-right: 0;
}
.s1 .sns ul li a{
    font-size: 0;
}
.s1 .sns ul li a img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    display: inline-block;
}
.s1 .sns ul li a span{
    font-size: 16px;
    vertical-align: top;
    transition: all 0.5s;
}
.s1 .sns ul li a:hover span{
    color: #f5ff00;
    transition: all 0.5s;
}
/* .s1 END */

.s2{
    width: 85%;
    padding: 0 100px;
    margin-left: 15%;
    overflow: hidden;
}
.s2 .profile{
    display: flex;
    justify-content: center;
}
.s2 .profile > div{
    font-size: 0;
    text-align: center;
}
.s2 .profile > div > img{
    width: 85%;
    margin: 0 5px 30px 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.s2 .profile > div > img:hover{
    box-shadow: 0px 0px 15px #fff;
    transform: scale(1.05);
    transition: all 0.3s;
}
.s2 .profile > div > h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.s2 .profile > div > p{
    font-size: 16px;
    color: #bfbfbf;
}
.s2 .profile > div > p > span{
    font-size: 13px;
}
.s2 .profile .prof-chw,
.s2 .profile .prof-yunjin,
.s2 .profile .prof-ech{
    margin-bottom: 100px;
}
.s2 .profile .prof-sakura,
.s2 .profile .prof-kazuha{
    margin-top: 100px;
}
/* .s2 END */

.popup{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.popup .group-name{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 0;
}
.popup .group-name img{
    width: 25px;
}
.popup .album-name{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.popup .album-name img{
    width: 25px;
}
.popup .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 2000;
}
.popup .close-btn img{
    width: 100%;
    transform: rotate(0deg);
    transition: all 0.5s;
    z-index: 1500;
}
.popup .close-btn:hover img{
    transform: rotate(180deg);
    transition: all 0.5s;
    z-index: 1500;
}
.popup .swiper-slide{
    text-align: center;
}
.popup .swiper-slide img{
    height: 100vh;
}
.swiper-button-prev{
    position: absolute;
    left: 10%;
    color: #000;
}
.swiper-button-next{
    position: absolute;
    right: 10%;
    color: #000;
}
/* .popup END */

.s3{
    width: 85%;
    padding: 0 100px;
    margin-left: 15%;
    overflow: hidden;
}
.s3 .disco-main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
}
.s3 .disco-main img{
    width: 80%;
    transition: all 0.5s;
}
.s3 .disco-main img:hover{
    transform: translateY(-10%);
    transition: all 0.5s;
}
.s3 .disco-main p{
    margin: 30px 0 20px;
    font-size: 20px;
}
.s3 .disco-main h4{
    font-size: 25px;
}

.disco-detail{
    text-align: center;
    display: none;
    margin-bottom: 50px;
    padding-top: 150px;
}
.disco-detail .disco-ex{
    margin-bottom: 150px;
}
.disco-ex h2{
    margin: 20px 0 30px;
    font-size: 50px;
}
.disco-ex img{
    width: 50%;
    margin-bottom: 30px;
}
.disco-ex p{
    line-height: 1.5;
    margin-bottom: 30px;
}
.disco-ex p:last-child{
    margin-bottom: 0;
}

.disco-track{
    margin-bottom: 150px;
}
.disco-track h2{
    font-size: 50px;
    margin-bottom: 50px;
}
.disco-track p{
    font-size: 20px;
    margin-bottom: 30px;
}
.disco-track p:last-child{
    margin-bottom: 0;
}
.disco-track p .title{
    color: #f5ff00;
    font-weight: bold;
}
.disco-track p .time{
    color: #bfbfbf;
    font-size: 14px;
}

.disco-video h2{
    font-size: 50px;
    margin-bottom: 50px;
}
.disco-video p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}
.disco-video video{
    width: 100%;
}

.disco-btn{
    margin-top: 80px;
}
.disco-btn a{
    display: block;
    transition: all 0.5s;
}
.disco-btn a:hover{
    transform: translateY(-50%);
    transition: all 0.5s;
}

.footer{
    margin-top: 100px;
}
.footer img{
    width: 200px;
    text-align: center;
}
/* .s3 END */


/* 반응형 */

@media all and (max-width:1500px){
    header #header{
        width: 100%;
        height: 130px;
        padding: 0;
        background-color: #000;
    }
    #header .header-flex{
        flex-direction: row;
        align-items: center;
        padding: 39.8px 5%;
    }
    #header .header-flex h1{
        width: 153px;
    }
    #header .header-flex .hamburger{
        position: static;
    }
    .h-line{
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        position: fixed;
        top: 130px;
        left: 0;
        animation: lineLeft 1s;
        z-index: 200;
    }
    @keyframes lineLeft{
        0%{
            width: 0;
        }
        100%{
            width: 100%;
        }
    }
    #header .nav .menu.on{
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        margin: 130px 0 0 0;
        padding: 10% 0;
        z-index: 1000;
    }

    #fullpage .index video{
        top: 10%;
        width: 100%;
        height: 100%;
    }
    #fullpage .index .lsf-logo{
        transform: translate(-30%, 0);
    }

    .s1, .s2, .s3{
        width: 100%;
        padding: 130px 100px 0 100px;
        margin-left: 0;
    }
    .s1 .sns ul li a span{
        font-size: 15px;
    }

    .s2 .profile > div > img:hover{
        box-shadow: 0px 0px 10px #fff;
    }

    .popup{
        height: 86%;
        top: 130px;
    }
    .popup .swiper-slide img{
        height: 86vh;
    }
}

@media all and (max-width:1270px){
    #fullpage .index video{
        top: 7%;
    }

    .s2{
        padding: 130px 50px 0;
    }
    .s2 .profile > div > h3{
        font-size: 18px;
    }
    .s2 .profile > div > p{
        font-size: 14px;
        color: #bfbfbf;
    }
    .s2 .profile > div > p > span{
        font-size: 12px;
    }
}

@media all and (max-width: 1110px){
    .s2 .profile{
        display: inline-block;
        width: 105%;
        text-align: center;
        margin: 0 auto;
    }
    .s2 .profile > div{
        float: left;
        width: 30%;
        margin-right: 20px;
    }
    .s2 .profile > div:nth-of-type(3){
        margin-right: 0;
        margin-bottom: 20px;
    }
    .s2 .profile .prof-chw,
    .s2 .profile .prof-yunjin,
    .s2 .profile .prof-ech{
        margin-bottom: 0;
    }
    .s2 .profile .prof-sakura,
    .s2 .profile .prof-kazuha{
        margin-top: 0;
    }
    .s2 .profile > div > p{
        display: none;
    }
    .s2 .profile > div > p > span{
        display: none;
    }

    .disco-ex h2{
        font-size: 40px;
    }
    .disco-track h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .disco-video h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
}

@media all and (max-width: 1030px){
    #header .nav .menu li a{
        font-size: 37px;
    }
    #header .nav .menu.on{
        padding: 20% 0;
    }

    .s3{
        padding: 130px 50px 0;
    }
}

@media all and (max-width: 936px){
    .s2 .profile{
        width: 120%;
    }
    .s2 .profile > div{
        width: 40%;
        margin-right: 25px;
    }
    .s2 .profile > div:nth-of-type(2),
    .s2 .profile > div:nth-of-type(4){
        margin-right: 0;
        margin-bottom: 20px;
    }
    .s2 .profile > div:nth-of-type(3){
        margin-right: 25px;
    }
}

@media all and (max-width: 900px){
    #header .nav .menu.on{
        padding: 30% 0;
    }

    #fullpage .index .lsf-logo{
        top:18%;
        transform: translate(-25%, 0);
    }

    .s1 #logo{
        margin: 0 auto 60px;
    }
    .s1 .debut .date{
        margin-bottom: 30px;
    }
    .s1 .debut > p{
        font-size: 14px;
        font-weight: normal;
    }
    .s1 .sns > p{
        margin-bottom: 18px;
    }
    .s1 .sns ul li{
        margin-right: 30px;
    }
    .s1 .sns ul li a img{
        width: 30px;
        height: 30px;
        margin-right: 0;
    }
    .s1 .sns ul li a span{
        display: none;
    }
}

@media all and (max-width: 860px){
    .s1{
        padding: 130px 80px 0;
    }
    .s1 #logo{
        width: 60%;
    }
    .s1 .debut h2{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .s1 .debut .date{
        font-size: 23px;
        margin-bottom: 30px;
    }

    .s2 .profile{
        width: 110%;
    }
    .s2 .profile > div{
        width: 90%;
        margin-right: 0;
    }

    .popup .group-name{
        display: none;
    }
    .popup .album-name{
        display: none;
    }
    .swiper-button-prev{
        left: 3%;
    }
    .swiper-button-next{
        right: 3%;
    }

    .s3{
        padding: 130px 30px 0;
    }
    .s3 .disco-main p{
        font-size: 16px;
    }
    .s3 .disco-main h4{
        font-size: 20px;
    }
}

@media all and (max-width: 625px){
    .popup .swiper-slide img{
        width: 100vw;
        height: 100%;
    }

    .swiper-button-prev{
        color: #fff;
    }
    .swiper-button-next{
        color: #fff;
    }
}

@media all and (max-width: 500px){
    #header .nav .menu.on{
        padding: 50% 0;
    }

    .s2 .profile > div{
        margin-bottom: 20px;
    }
    .s2 .profile .prof-chw{
        margin-bottom: 20px;
    }

    .disco-ex p{
        font-size: 14px;
    }
    .disco-track p{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .disco-video p{
        font-size: 16px;
    }
}
